body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  background-color: #1e1e1e;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  box-sizing: border-box;
  width: 360px;
  margin: 0 auto;
}

.content-section_theme_dark {
  background-color: #131313;
}

.content-section_theme_bright {
  background-color: #FEE42A;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 24px 20px;
}

.header__logo {
  display: block;
  width: 78px;
}

.header__log-image {
  width: 100%;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.header__menu-link {
  font-family: Inter;
  font-size: 16px;
  line-height: 1.2; 
  color: #F5F5F5;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.cover {
  background-image: url('../images/cover.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 95% auto;
  min-height: 198px;
  padding: 7px 24px 0 20px;
}

.cover__title {
  color: #FFF;
  font-family: 'EB Garamond', Arial, sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 1; 
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.intro {
  padding: 30px 20px 37px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
}

.intro__title {
  color: #CCC;
  font-size: 16px;
  line-height: 1.2;
}

.intro__date {
  color: #CCC;
  font-size: 16px;
  line-height: 1.2;
  white-space: nowrap;
}

.intro__main-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #F5F5F5;
  line-height: 1.35;
}

.reasons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 20px;
}

.content-section__subtitle {
  color: #131313;
  font-family: 'EB Garamond', Arial, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.15;
}

.content-section__subtitle_white {
  color: #F5F5F5;
}

.content-section__intro {
  color: #131313;
  font-size: 20px;
  line-height: 1.35;
}

.content-section__intro_white {
  color: #F5F5F5;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  color: #131313;
  line-height: 1.35;
  padding: 0 0 0 15px;
}

.content-section__accent {
  font-weight: 700;
}

.how-to {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 20px 60px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 30px;
  padding: 20px;
}

.card_theme_dark {
  background-color: #343434;
}

.card_theme_bright {
  background-color: #FEE42A;
}

.card__author {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__author-photo {
  width: 100px;
  border-radius: 100%;
}

.card__author-name {
  color: #F5F5F5;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.35;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__title {
  color: #F5F5F5;
  font-family: 'EB Garamond', Arial, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.35;
}

.card__text {
  color: #F5F5F5;
  font-size: 16px;
  line-height: 1.35;
}

.card__title_black {
  color: #131313;
}

.card__text_black {
  color: #131313;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer__copy {
  color: #F5F5F5;
  font-size: 16px;
  line-height: 1.35;
}

.footer-link-list {
  display: flex;
  gap: 16px;
  list-style: none;
}

.footer__link {
  color: #F5F5F5;
  font-size: 14px;
  line-height: 1.25;
  text-decoration: none;
}